html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(115, 217, 252);
} body {
    width: 80%;
    max-width: 700px;
    margin: 30px auto;
    padding: 10px;
    border: 1px solid rgb(186, 187, 187);
    border-radius: 40px;
    background-color: rgb(210, 237, 247);
}
.intro {
    display: flex;
    justify-content: space-evenly;
}
.intro p {
    font-size: 3.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}
.intro p:first-child {
    color:rgb(141, 15, 21);
    display: flex;
    align-items: flex-start;
    margin: 0;
}
.intro p:nth-child(2) {
    color: rgb(6, 145, 145);
} 
.intro p:nth-child(3) {
    color: rgb(134, 134, 7);
    display: flex;
    align-items: flex-end;
    margin: 0;
}
#input p {
    text-align: center;
    margin-top: 0;
    font-size: 1.9em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    text-align: center;
    font-size: 2.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0;
}
.flex {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
}
    .flex div {
        width:25%;
    }
        .flex img {
            width: 100%;
        }
.result {
    display: flex;
    justify-content: space-evenly;
    margin-top: 55px;
}
    .result p {
        font-size: 1.1em;
        font-family: sans-serif;
        font-weight: bolder;
    }
#x {
    font-size: 2.5em;
    font-family: sans-serif;
    font-weight: bolder;
    color: red;
}
    #opc-jogador, #opc-computador {
        text-align: center;
        width: 45%;
    }
        .result img {
            width: 60%;
        }
#result {
    text-align: center;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bolder;
}
.hi { display: none;}

@media screen and (min-width:600px) {
    .intro p {
        font-size: 5.5em;
    }   
    h2 {
        font-size: 3em;
    } 
}
